if flash
    if flash.success
        .callout.success(style="padding-left:0;padding-right:0")
            .grid-container
                .grid-x
                    .cell
                        =flash.success